[submodule "TelemetryProgram/lib/HAL"]
	path = TelemetryProgram/lib/HAL
	url = https://github.com/USSTRocketry/HAL.git
[submodule "lib/HAL"]
	path = lib/HAL
	url = https://github.com/USSTRocketry/HAL.git
